.navbar {
    /*  padding-top: 2.5rem; */
}

.priceTypeTitle {
    margin-left: 30px;
}

.priceTypeTitle p {
    display: flex;
    justify-content: flex-end;
}

.priceTypeTitle h2 {
    font-weight: 700;
    color: #E44343;
}

.titulos {
    display: flex;
    justify-content: center;
}

.actionsTitles {
    display: grid;
    align-items: center;
    margin-left: 30px;
}

.actionsTitles button {
    border-radius: 20px;
}

.textsActions {
    display: flex;
}

#titleCard {
    display: flex;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 155px;
    margin-bottom: 20px;
}

#campoSearch {
    border-radius: 20px;
    width: 400px;
}

#inputSearch {
    border-radius: 10px;
}

.bottons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;    
}

.statusFinancia {
    display: flex;
    justify-content: center;
    /* margin-top: -30px; */
}

@media (max-width: 688px) {

    #campoSearch {
        border-radius: 20px;
        width: 300px;
    }

    .bottons {
        margin-top: 50px;
        display: none;
        padding-left: 100px;
        padding-top: 156px;
    }

    .one,
    .two,
    .three {
        background-color: #FFFFFF;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menuToggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }    

    .menuSection.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: blue;
        z-index: 10;
    }

    .bottons {
        display: block;
    }

    .menuSection.on .menuToggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .menuSection.on .menuToggle .one {
        transform: rotate(45deg) translate(6px, 8px)
    }

    .menuSection.on .menuToggle .two {
        opacity: 0;
    }

    .menuSection.on .menuToggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    
}

@media (max-width: 540px) {
    .statusFinancia {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    #formaPagamento {
        margin-top: 10px;
        border-radius: 30px;
    }
}

#addTitulo {
    margin-right: 20px;
    border-radius: 30px;
    display: block;
    justify-content: left;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
    color: blue;
}

#formaPagamento {
    border-radius: 30px;
    display: flex;
    justify-content: right;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    color: blue;
}

.card {
    position: absolute;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card-body {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 460px) {
    .card-body {
        display: inline;
        justify-content: center;
        gap: 10px;
    }
}

.despesas {
    display: flex;
    gap: 20px;
}

.despesas h4 {
    color: #E44343;
}

.indicativoDespesa {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#titleDespesa {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.receitas {
    display: flex;
    gap: 20px;
}

.receitas h4 {
    color: #36AF51;
}