.priceTypeTitle {
    margin-left: 30px;
}

.priceTypeTitle p {
    display: flex;
    justify-content: flex-end;
}

.priceTypeTitle h2 {
    font-weight: 700;
    color: #E44343;
}

.titulos {
    display: flex;
    justify-content: center;
}

.actionsTitles {
    display: grid;
    align-items: center;
    margin-left: 30px;
}

.actionsTitles button {
    border-radius: 20px;
}

.textsActions {
    display: flex;
}

#titleCard {
    display: flex;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 155px;
    margin-bottom: 20px;
}

#campoSearch {
    border-radius: 20px;
    /* width: 400px; */
}

#inputSearch {
    border-radius: 10px;
}

.bottons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.statusFinancia {
    display: flex;
    justify-content: center;
}

.opcoes {
    display: none;
}

.navbar {
    height: 105px;
}

.boxSearch {
    width: 25px;
}

.searchHamburguer {
    display: flex;
    align-items: center;
    gap: 30px;
}

.searchNav {
    display: none;
}

.searchNav.on {    
    display: flex;
}

.nameApplication.off {
    display: none;
}

.searchNav.on input {    
    border-radius: 50px;
    min-width: 250px;
}

@media (max-width: 688px) {

    #formSearchTitle {
        min-width: 70px;
    }

    .receitas {
        display: block;
    }

    .searchHamburguer {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .bottons {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #FFFFFF;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        border-radius: 50px;
        transition-duration: 0.3s;
    }

    .menuToggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    .menuSection.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0d6efd;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuSection.on .menuToggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    .menuSection.on .menuToggle .one {
        transform: rotate(45deg) translate(6px, 8px)
    }

    .menuSection.on .menuToggle .two {
        opacity: 0;
    }

    .menuSection.on .menuToggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menuSection.on .bottons {
        display: grid;
        gap: 20px;
    }

    .menuSection.on .bottons .btn {  
        font-weight: 600;           
        text-align: center;                
        align-content: space-around;      
        border-radius: 30px;
        box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
        color: rgb(35, 132, 223);
        width: 300px;
        font-size: 16pt;
        text-transform: uppercase;
    }    
}

@media (max-width: 540px) {
    .statusFinancia {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    #formaPagamento {
        margin-top: 10px;
        border-radius: 30px;
    }
}

#addTitulo {
    border-radius: 30px;
    display: block;
    justify-content: left;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
    color: rgb(35, 132, 223);
}

#formaPagamento {
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    color: rgb(35, 132, 223);
}

.card {
    position: absolute;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85px;
}

.card-body {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card-body .divisionReceitaDespesa {
    background-color: #b9babda1;
    width: 2px;
    border-radius: 50px;
}

@media (max-width: 460px) {

    .card-body {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .search {
        margin-top: 210px;        
    }
    #campoSearch {
        border-radius: 20px;
        width: 280px;
    }
    .priceTypeTitle {
        margin-left: 30px;
        display: grid;
        justify-items: end;
    }
    .actionsTitles {
        display: flex;
        gap: inherit;
    }
    .actionsTitles button{
        width: 150px;
        gap: 20px;
    }

}

@media (max-width: 375px) {
    .searchNav input {
        border-radius: 50px;
        min-width: 200px;
    }
}

.indicativoDespesa {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.despesas {
    display: block;
    gap: 20px;
}

.textAndIndicativoDespesas {
    display: flex;
    gap: 30px;
}

.despesas h4 {
    color: #E44343;
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.despesas p {
    color: #E44343;
}

.despesas img {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.despesas .indicativoDespesa {
    width: 40px;
}

/* INITIAL RECEITA HERE */

.receitas {
    display: block;
    gap: 20px;
}

.textAndIndicativoReceitas {
    display: flex;
    gap: 50px;
}

.receitas h4 {
    color: #36AF51;
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.receitas p {
    color: #36AF51;
}

.receitas img {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.receitas .indicativoReceita {
    width: 40px;
}